<?xml version="1.0" encoding="utf-8"?>

<!--
    
    Alexandrite OS
    Copyright (C) 2021 naiad technology

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->

<image schemaversion="7.3" name="alexandrite-os">
    <description type="system">
        <author>nexryai</author>
        <contact>nexryai@gmail.com</contact>
        <specification>Alexandrite OS</specification>
    </description>
    <profiles>
        <profile name="DracutLive" description="Simple Live image" import="true"/>
        <profile name="Live" description="Live image"/>
        <profile name="Virtual" description="Simple Disk image"/>
        <profile name="Disk" description="Expandable Disk image"/>
    </profiles>
    <preferences>
        <version>0.2.0</version>
        <packagemanager>zypper</packagemanager>
        <locale>ja_JP</locale>
        <keytable>ja</keytable>
        <timezone>Asia/Tokyo</timezone>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <bootsplash-theme>naiad</bootsplash-theme>
        <bootloader-theme>naiad</bootloader-theme>
        <type image="iso" flags="overlay" firmware="efi" kernelcmdline="quiet splash" hybridpersistent_filesystem="ext4" hybridpersistent="true" mediacheck="true">
            <bootloader name="grub2" console="gfxterm" timeout="10"/>
        </type>
    </preferences>
    <users>
        <user password="$1$i4HQRS4Q$a1H4ivlyda8z057lVSmgW0" home="/root" name="root" groups="root"/>
        <user password="$1$i4HQRS4Q$a1H4ivlyda8z057lVSmgW0" home="/home/live" name="live" groups="live"/>
    </users>
    <repository type="rpm-md">
        <source path="obs://openSUSE:Leap:15.3/standard"/>
    </repository>
    <repository>
        <source path="https://download.opensuse.org/repositories/mozilla/openSUSE_Leap_15.3"/>
    </repository>
    <packages type="image">
        <package name="bind-utils"/>
        <package name="patterns-openSUSE-base"/>
        <package name="systemd"/>
        <package name="kernel-firmware-iwlwifi"/>
        <package name="grub2-branding-openSUSE"/>
        <package name="iputils"/>
        <package name="dracut-kiwi-live"/>
        <package name="nvme-cli"/>
        <package name="biosdevname"/>
        <package name="rpcbind"/>
        <package name="mdadm"/>
        <package name="ntfs-3g"/>
        <package name="cifs-utils"/>
        <package name="dmraid"/>
        <package name="multipath-tools"/>
        <package name="btrfsprogs"/>
        <package name="open-iscsi"/>
        <package name="keyutils"/>
        <package name="nfs-client"/>
        <package name="NetworkManager"/>
        <package name="NetworkManager-applet"/>
        <package name="NetworkManager-applet-lang"/>
        <package name="NetworkManager-openvpn-gnome"/>
        <package name="NetworkManager-openvpn-lang"/>
        <package name="NetworkManager-lang"/>
        <package name="NetworkManager-connection-editor"/>
        <package name="vim"/>
        <package name="grub2"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="grub2-i386-pc"/>
        <package name="syslinux"/>
        <package name="lvm2"/>
        <package name="pulseaudio"/>
        <package name="plymouth"/>
        <package name="plymouth-plugin-script"/>
        <package name="plymouth-dracut"/>
        <package name="plymouth-theme-spinner"/>
        <package name="sudo"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="openssh"/>
        <package name="iproute2"/>
        <package name="less"/>
        <package name="bash-completion"/>
        <package name="dhcp-client"/>
        <package name="which"/>
        <package name="kernel-default"/>
        <package name="shim"/>
        <package name="timezone"/>
        <package name="dracut-kiwi-live"/>
        <package name="nano"/>
        <package name="htop"/>
        <package name="powerline"/>
        <package name="xorg-x11"/>
        <package name="xorg-x11-server"/>
        <package name="patterns-openSUSE-gnome"/>
        <package name="gnome-session"/>
        <package name="gnome-desktop"/>
        <package name="gnome-shell"/>
        <package name="libnotify-tools"/>
        <package name="gnome-backgrounds"/>
        <package name="gnome-keyring"/>
        <package name="gnome-tweaks"/>
        <package name="gnome-system-monitor"/>
        <package name="gnome-terminal"/>
        <package name="gnome-screenshot"/>
        <package name="file-roller"/>
        <package name="nautilus-extension-terminal"/>
        <package name="nautilus-lang"/>
        <package name="nautilus-sendto"/>
        <package name="nautilus-sendto-lang"/>
        <package name="nautilus-share"/>
        <package name="nautilus-share-lang"/>
        <package name="nautilus-evince"/>
        <package name="eog"/>
        <package name="desktop-translations"/>
        <package name="gnome-shell-extensions-common"/>
        <package name="chrome-gnome-shell"/>
        <package name="gnome-shell-extension-desktop-icons"/>
        <package name="libqt5-qtstyleplugins"/>
        <package name="libqt5-qtstyleplugins-platformtheme-gtk2"/>
        <package name="libgnomesu"/>
        <package name="gdm"/>
        <package name="gdm-systemd"/>
        <package name="gdmflexiserver"/>
        <package name="firefox"/>
        <package name="ibus-mozc"/>
        <package name="ibus-gtk"/>
        <package name="ibus-gtk3"/>
        <package name="ibus-lang"/>
        <package name="ibus-m17n"/>
        <package name="noto-sans-cjk-fonts"/>
        <package name="noto-sans-jp-fonts"/>
        <package name="noto-sans-tc-fonts"/>
        <package name="noto-sans-jp-regular-fonts"/>
        <package name="noto-sans-tc-regular-fonts"/>
        <package name="noto-serif-jp-regular-fonts"/>
        <package name="cantarell-fonts"/>
        <package name="adobe-sourcecodepro-fonts"/>
        <package name="calamares"/>
        <package name="mousepad"/>
        <package name="spectacle"/>
        <package name="libapparmor"/>
        <package name="apparmor-profiles"/>
        <package name="apparmor-utils"/>
        <package name="apparmor-parser"/>
        <package name="yast2-apparmor"/>
        <package name="audit"/>
        <package name="inotify-tools"/>
        <package name="firewalld"/>
        <package name="yast2-firewall"/>
        <package name="yast2-security"/> 
        <package name="patterns-yast-yast2_desktop"/>
        <package name="patterns-yast-yast2_basis"/>
        <package name="patterns-gnome-gnome_yast"/>
        <package name="yast2-trans-ja"/>
        <package name="gnome-session-lang"/>
        <package name="gnome-settings-daemon-lang"/>
        <package name="gnome-shell-extensions-common-lang"/>
        <package name="gnome-shell-lang"/>
        <package name="gnome-packagekit-lang"/>
        <package name="gnome-system-monitor-lang"/>
        <package name="gnome-terminal-lang"/>
        <package name="gnome-tweaks-lang"/>
        <package name="gnome-user-share-lang"/>
        <package name="gnome-desktop-lang"/>
        <package name="gnome-control-center-lang"/>
        <package name="gnome-disk-utility-lang"/>
        <package name="gnome-bluetooth-lang"/>
        <package name="gnome-backgrounds-lang"/>
        <package name="file-roller-lang"/>
        <package name="eog-lang"/>
        <package name="PackageKit-lang"/>
        <package name="NetworkManager-lang"/>
        <package name="gdm-lang"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
        <package name="ca-certificates-mozilla"/>
        <package name="openSUSE-release"/>
    </packages>
</image>
