[Desktop Entry]
Name=naiad
X-KDE-PluginInfo-Author=nexryai
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=nexryai@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=naiad
X-KDE-PluginInfo-Version=1.0
