[Desktop Entry]
Categories=System;Utility;X-SuSE-DesktopUtility;
Comment[ja_JP]=入力メソッドを開始
Comment=入力メソッドを開始
Comment[ca]=Inicia el mètode d'entrada
Comment[da]=Start inputmetode
Comment[de]=Eingabemethode starten
Comment[ko]=입력기 시작
Comment[ru]=Запустить метод ввода
Comment[zh_CN]=启动输入法
Comment[zh_TW]=啓動輸入法
Exec=fcitx
GenericName[ja_JP]=入力メソッド
GenericName=入力メソッド
GenericName[ca]=Mètode d'entrada
GenericName[da]=Inputmetode
GenericName[de]=Eingabemethode
GenericName[es]=Método de entrada
GenericName[ko]=입력기
GenericName[ru]=Метод ввода
GenericName[zh_CN]=输入法
GenericName[zh_TW]=輸入法
Icon=fcitx
MimeType=
Name[ja_JP]=Fcitx
Name=Fcitx
Name[ca]=Fcitx
Name[da]=Fcitx
Name[de]=Fcitx
Name[es]=Fcitx
Name[ko]=Fcitx
Name[ru]=Fcitx
Name[zh_CN]=Fcitx
Name[zh_TW]=Fcitx
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-StartupNotify=false
X-KDE-SubstituteUID=false
X-KDE-Username=
X-KDE-autostart-after=panel
