// Search

/*

istället för:
.class-name {
  tweaks
}
.class-name:hover {
  adjustments
}

så kan du baka in händelserna i samma stycke:

.class-name {
  tweaks

    &:hover {
      adjustments
  }
}
*/

/* ::: Dash sök ::: */
.search-entry,
.search-entry:hover,
.search-entry:focus {
 transition-duration: 800ms;
 padding: 5px !important;
 border-radius: 10px;
 //text-align: justify; // den här... Jag vill att texten ska vara centrerad när den vilar, sedan åka till vänster när fokus
}

// vi gömmer sökfältet när det är passivt för att det bara tar upp plats och eftersom det bara är att börja skriva för att söka.
// gör text och ikoner supersmå så att fältet blir pyttelitet (för att flytta iväg det pajar hela overview)
// gör lådan transparant
// gör icon och hint-text transparant nedan
// tar bort möjlighet till återställning vid :hover, det kan bli CP när man ska till kalender med musen etc

.search-entry {
  //@extend %searchEntryFlatEdgeTransparent;
  // - den där @extend %sunkinglassShallow;

  //@extend %transparentglass;
  //border-radius: 0;
  font-size: .1em;
  icon-size: .1em;
  color: transparent;
  border: 0px none transparent;
  box-shadow: 0 0 0 transparent;
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;


&:hover {
  //font-size: 1em;
  //icon-size: 1em;
  //margin-bottom: 6px;
  //@extend %transparentglass;
  //@extend %searchEntryFlatEdgeTransparentHover;
  //@extend %sunkinglass;
}
&:focus {
  // den är alltid focus nu när den sysns. Kan mer eller mindre bara ha den här stilen
  //@extend %sunkinglassDimmed;
  @extend %sunkinglassHover; // makes more sense, för den är alltid i fokus
  font-size: 1em;
  icon-size: 1em;
  margin-top: 12px;
  margin-bottom: 6px;
  //@extend %searchEntryFlatEdgeTransparentFocus;
}
&:active:hover,
&:focus:hover {
  //@extend %flashLightComic;
}
&,
& &-icon,
& .hint-text {
  //color: $textIconRestingColor;
  @extend %searchEntryTextIconHidden;
}

&:hover,
&:hover &-icon,
&:hover .hint-text {
  //color: $textIconHoverColor;
  //color: $textIconOverviewPanelColor;
  @extend %searchEntryTextIconHidden;
}
&:focus,
&:focus:hover,
&:focus &-icon,
&:focus:hover &-icon,
&:focus .hint-text,
&:focus:hover .hint-text {
  //color: $textIconFocusColor;
  //color: $textIconOverviewPanelColor;
  @extend %searchEntryTextIconDefaultFocus;
}
}
// ::: Results :::

.search-section .icon-grid {
  margin-top: 1em;
  margin-bottom: 2em;
}

.search-section-content,
.search-provider-icon {
  //@extend %searchResultEdge;
  //@extend %searchResultDarkShade;
  @extend %searchResultTransparent;
}
.list-search-results {
  //@extend %searchResultFlatTransparent;
  //@extend %searchResultsFlatEdgeTransparent;
  //@extend %searchResultsDarkBox;
  //@extend %sunkinglassLight;
  //@extend %sunkinglassDimmed;
  @extend %sunkinglassDimmedShallow;
  //@extend %sunkinglassShallow;
  border-radius: 10px;
  padding: 10px;
}


.list-search-result {
  @extend %transparentglass;
  //@extend %sunkinglassDimmed;
  border-radius: 5px;
  font-weight: 400;
}

.list-search-result StIcon,
.list-search-provider-content StIcon,
.list-search-result .system-action-icon StIcon {
  icon-shadow: $textIconDefaultShadow;
}
.list-search-result:hover StIcon,
.list-search-result:focus StIcon,
.list-search-result:focus:hover StIcon,
.list-search-result:selected StIcon {
  //@extend %flashLightFocus;
}

.search-provider-icon {}

.list-search-result:hover,
.list-search-result:focus,
.list-search-result:focus:hover,
.list-search-result:selected,
/*.search-provider-icon:hover,
.search-provider-icon:focus,
.search-provider-icon:focus:hover*/ {
  //background-color: $backgroundHoverFocusColor;
  //border: .5px solid rgba(0,0,0,.05);
  //background-color: $adwaitaDark1Sub;
  //@extend %sunkinglass;
  //box-shadow: 0 0 2px 0 rgba(0,0,0,.4);
  //@extend %floatinglassShallow;
  @extend %floatingDarkPlateHover;
}

.search-provider-icon .list-search-provider-content {
  //finns ingen text här
  border-radius: 5px;
  padding: 5px;
  @extend %transparentglass;
}
.search-provider-icon .list-search-provider-details {
  color: $textIconColorBrightMedium;
}
.search-provider-icon:hover .list-search-provider-details,
.search-provider-icon:focus .list-search-provider-details {
  color: $textIconColorBrightStrong;
}
.search-provider-icon:focus:hover .list-search-provider-details {
  color: $textIconColorBrightSolid;
}

.search-provider-icon:focus .list-search-provider-content {
  //@extend %floatinglassShallow;
  @extend %floatingDarkPlateHover;
}

.list-search-result .list-search-result-content,
.list-search-result .list-search-result-content,
.list-search-result .list-search-result-content,
.search-provider-icon .list-search-provider-content,
.search-provider-icon .list-search-provider-content,
.search-provider-icon .list-search-provider-content {
  color: $textIconColorBrightMedium;
  text-shadow: $textIconMediumShadow;
}

.list-search-result:hover .list-search-result-content,
.list-search-result:focus .list-search-result-content,
.list-search-result:focus:hover .list-search-result-content,
.search-provider-icon:hover .list-search-provider-content,
.search-provider-icon:focus .list-search-provider-content,
.search-provider-icon:focus:hover .list-search-provider-content {
  //color: rgba(0,0,0,.75);
  //text-shadow: 0 .5px 0 0 white;
  color: $textIconColorBrightSolid;
  text-shadow: $textIconDefaultShadow;
}
.list-search-result:hover .list-search-result-description,
.list-search-result:focus .list-search-result-description,
.list-search-result:focus:hover .list-search-result-description,
.search-provider-icon:hover .list-search-provider-details,
.search-provider-icon:focus .list-search-provider-details,
.search-provider-icon:focus:hover .list-search-provider-details {
  //color: rgba(30,30,30,.7);
  //text-shadow: 0 .5px 0 0 white;
  color: $textIconColorBrightStrong;
}
